.Inf {
    flex-grow: 1;
    display: flex;
    z-index: 0;
    height: 300px;
    width: auto;
    position: relative;
    border-bottom: 2px solid #afafaf;
    text-align: justify;

}

.Inf::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.25);
}

.Inf a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.Inf svg {
    width: 230px;
    margin-right: -70px;
}

.App-header {
    z-index: 0;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.text_info {
    margin-bottom: 5px;
    color: #717171;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    word-wrap: inherit;
    white-space: normal;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    display: flex;
    overflow: hidden;

}

.info {
    align-items: center;
    flex-grow: 1;
    display: contents;
    color: #717171;
    font-size: 25px;
}

a {
    text-decoration: none;
}
.img_info{
    width: 130px;
    height: 187px;
}
.icon {
    vertical-align: center;
    flex-grow: 1;
    z-index: 0;
    top: 10px;
    grid-template-columns: repeat(3, 1fr);

}

.p_info {
    font-size: 30px;
    margin: 100px 150px;
    font-weight: 600;
}

@media (max-width: 768px) {
    .Inf {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        width: auto;
    }

    .Inf::after {
        display: none;
    }

    .Inf svg {
        width: 100px;
        margin: 20px;
    }

    .info{

        font-size: 20px;
    }

    .text_info {
        font-size: 16px;
    }

    .p_info {
        font-size: 23px;
        margin: 50px 50px;
        font-weight: 550;
    }

    .Inf {
        text-align: center;

    }

}

