.Catalog_app {
    background: white;
    height: 72px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
}

.text_cat {
    color: rgba(0, 0, 0, 0.60);
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: center;
    align-items: center;

}

.icon_cat {
    margin-right: 15px;
    margin-left: -20px;
    font-weight: bold;
}

.BlockContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

.Block {
    border: 0.5px solid rgba(1, 1, 1, 0.3);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Block.active {
    background-color: white;
}

.DropdownContainer {
    position: relative;
    left: 100px;
}

.CatalogDropdown {
    display: flex;
    flex-direction: column;
}

.CatalogDropdown a {
    padding: 5px;
}

.Block.Inactive {

    background-color: rgba(1, 1, 1, 0.3);
}

.dropdown_cat1 {
    display: grid;
    align-items: center;
    width: 100%;
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    background-color: #fff;
    z-index: 3;
    top: 345px;
    padding: 25px;
    border: 0.5px solid rgba(1, 1, 1, 0.3);
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: 0.3s;
    text-align: left;
    font-family: Raleway;
    font-size: 16px;
}

.dropdown_cat1.active {
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.25);
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.dropdown_cat1::before,
.dropdown_cat1::after {
    display: block;
    content: "";
    position: fixed;
    width: 20px;
    height: 20px;
    right: 15px;
    border: 10px solid transparent;
}

.dropdown_cat1::before {
    top: -20px;

}

.dropdown_cat1::after {
    top: -19px;
}

.cat__item1 {
    list-style-type: none;
    border-bottom: 1px solid #747474;
    padding: 6px 0;
}

.cat__item1:hover {
    background-color: rgba(1, 1, 1, 0.1);

}

.cat__item1 ul, li, a {
    color: #5e5e5e;
    width: 100%;

}

@media (max-width: 767px) {

    .Catalog_app {
        background: white;
        height: 72px;
        width: 100%;
        display: grid;
        justify-content: space-evenly;
    }

    .icon_cat {
        display: none;
    }

    .text_cat {

        font-size: 11px;

    }

    .dropdown_cat1 {
        display: grid;
        align-items: center;
        width: 100%;
        color: #ffffff;
        cursor: pointer;
        background-color: #fff;
        z-index: 3;
        top: 345px;
        padding: 20px;
        border: 0.5px solid rgba(1, 1, 1, 0.3);
        opacity: 0;
        transform: translateY(-10px);
        transition: 0.3s;
        text-align: left;
        font-family: Raleway;
        font-size: 12px;
    }
}


