.slider {
    width: 100%;
    height: 235px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.arrow {
    position: absolute;
    color: #888;
    font-size: 24px;
    cursor: pointer;
}

.arrow-left {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.arrow-right {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.arrow:hover {
    color: #000;
}

.image-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 2440%;
    height: 180px;
    border: 1px solid #666464;
    border-radius: 5px;
}

@media (max-width: 767px) {
    .image-container img {
        width: 32400%;
        height: 100px;
    }

}
