.search-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.search-input-container {
    position: relative;
}
@media (max-width: 767px) {
    .search_input {
        border-radius: 5px;
        border: 0.5px solid rgba(0, 0, 0, 0.40);
        background: #FFF;
        max-width: 300px;
        height: 38px;
        flex-shrink: 0;
        padding-left: 45px;
        margin: auto;
        margin-top: 11px;
        color: rgba(0, 0, 0, 0.8);
    }

    .popup-window {
        font-family: Raleway;
        border: 0.5px solid rgba(0, 0, 0, 0.40);
        position: relative;
        width: 619px;
        max-height: 200px;
        max-width: 300px;
        overflow-y: auto;
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.40);
        z-index: 999;
        left: 50%;
        transform: translateX(-50%);
    }



}
.search_input {
    border-radius: 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.40);
    background: #FFF;
    width: 619px;
    height: 38px;
    flex-shrink: 0;
    padding-left: 45px;
    margin: auto;
    margin-top: 11px;
    color: rgba(0, 0, 0, 0.8);
}

.popup-window {
    align-items: start;
    font-family: Raleway;
    border: 0.5px solid rgba(0, 0, 0, 0.40);
    position: relative;
    width: 619px;
    max-height: 200px;
    overflow-y: auto;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.40);
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
}

.popup-list {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: start;
}

.popup-list li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #747474;
    text-align: left;
}

.popup-list li:last-child {
    border-bottom: none;
}

.popup-list li:hover {
    background-color: #f2f2f2;
}

.popup-list li a {
    text-decoration: none;
    display: inline-block;
    align-items: start;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.search_input:focus {
    outline: none;
}

.search_input::placeholder {
    color: rgba(0, 0, 0, 0.40);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 65%;
    transform: translateY(-50%);
}