.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.content {
    margin-top: 40px;

}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.item-1 {
    background-image: url("Components/Img/car_1.png");
    background-color: #0C263F;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.item-2 {
    background-image: url("Components/Img/car_2.png");
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.item-3 {
    background-image: url("Components/Img/car_3.png");
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.item-4 {
    background-image: url("Components/Img/car_4.png");
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.item-5 {
    background-image: url("Components/Img/car_5.png");
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.item-6 {
    background-image: url("Components/Img/car_6.png");
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.item-7 {
    background-image: url("Components/Img/car_7.png");
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.item-8 {
    background-image: url("Components/Img/car_8.png");
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}